@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'Press Start 2P';
  font-weight: normal;
  font-style: normal;
}

.game-title {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #fff;
  text-shadow: 4px 4px #000;
  z-index: 10;
}

.game-container {
  width: 100%;
  height: 100vh;
  background-color: #5c94fc;
  position: relative;
  overflow: hidden;
}

.character {
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-image: url('../assets/girl.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 150px;
  }
  100% {
    bottom: 50px;
  }
}

.ground {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background-color: #00a800;
  z-index: 3;
}

.cloud {
  position: absolute;
  background-image: url('../assets/cloud.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 75px;
  z-index: 1;
}

.building {
  position: absolute;
  background-image: url('../assets/upb.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  bottom: 41px; /* Position it on the ground */
  z-index: 2;
}

.flower {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  bottom: 50px; /* Position it on the ground */
  z-index: 4;
}

.flower1 {
  background-image: url('../assets/flower1.png');
  background-repeat: no-repeat;
}

.flower2 {
  background-image: url('../assets/flower2.png');
  background-repeat: no-repeat;
}

.flower3 {
  background-image: url('../assets/flower3.png');
  background-repeat: no-repeat;
}